@charset "utf-8";
/* CSS Document */

.drag {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bound {
    position: relative;
}

.square {
    width: 100px;
    height: 100px;
    background: red;
    cursor:move;
}

div {
    padding: 0px;
    margin: 0px;
}

ul {
	;
}

li {
	list-style-type: none;
}

#center {
	width: 500px;
	height: 300px;
	margin: auto;
	background-color:#CCC;
	text-align: center;
	border-radius: 25px;
	-moz-border-radius: 25px;
}